In [4]:
import pandas as pd

# Assuming you have a pandas DataFrame named 'survey_data' with the survey responses
# and the Yes/No variables are stored in columns named 'Q18', 'Q12', 'Q20', 'Q3', 'Q9', 'Q10', 'Q11'

# Load the survey data into a pandas DataFrame
data = pd.read_excel('C:/Users/Toshiba/OneDrive/Desktop/BISMACLEANDATA.xlsx')

# Select only the columns containing the specific Yes/No variables
yes_no_columns = ['Q18', 'Q12', 'Q20', 'Q3', 'Q9', 'Q10', 'Q11']
yes_no_data = data[yes_no_columns]

# Calculate descriptive statistics
statistics = yes_no_data.count()

# Display the statistics
print(statistics)

Q18    159
Q12    159
Q20    159
Q3     159
Q9     159
Q10    159
Q11    159
dtype: int64

In [7]:
variables = ['Q18', 'Q12', 'Q20', 'Q3', 'Q9', 'Q10', 'Q11']

# Count the occurrences of each value in each variable
for variable in variables:
    value_counts = data[variable].value_counts()
    print(f"Question: {variable}")
    print(value_counts)
    print()

Question: Q18
1    102
0     54
3      3
Name: Q18, dtype: int64

Question: Q12
1    96
0    62
3     1
Name: Q12, dtype: int64

Question: Q20
0    125
1     34
Name: Q20, dtype: int64

Question: Q3
1    111
0     48
Name: Q3, dtype: int64

Question: Q9
Moderate    104
Low          34
High         21
Name: Q9, dtype: int64

Question: Q10
2    65
1    49
3    31
0    14
Name: Q10, dtype: int64

Question: Q11
2    107
1     27
3     16
0      4
8      1
7      1
6      1
5      1
4      1
Name: Q11, dtype: int64

In [9]:
# Select the columns containing the variables
variables = ['Q18', 'Q12', 'Q20', 'Q3', 'Q9', 'Q10', 'Q11']

# Perform cross-tabulation for each pair of variables
for i in range(len(variables)):
    for j in range(i + 1, len(variables)):
        variable1 = variables[i]
        variable2 = variables[j]
        cross_tab = pd.crosstab(data[variable1], data[variable2])
        print(f"Cross-tabulation between {variable1} and {variable2}:")
        print(cross_tab)
        print()

Cross-tabulation between Q18 and Q12:
Q12   0   1  3
Q18
0    38  15  1
1    23  79  0
3     1   2  0

Cross-tabulation between Q18 and Q20:
Q20   0   1
Q18
0    46   8
1    76  26
3     3   0

Cross-tabulation between Q18 and Q3:
Q3    0   1
Q18
0    28  26
1    20  82
3     0   3

Cross-tabulation between Q18 and Q9:
Q9   High  Low  Moderate
Q18
0       8   11        35
1      13   23        66
3       0    0         3

Cross-tabulation between Q18 and Q10:
Q10  0   1   2   3
Q18
0    9  19  20   6
1    5  28  45  24
3    0   2   0   1

Cross-tabulation between Q18 and Q11:
Q11  0   1   2   3  4  5  6  7  8
Q18
0    3  10  34   5  0  0  1  1  0
1    1  16  71  11  1  1  0  0  1
3    0   1   2   0  0  0  0  0  0

Cross-tabulation between Q12 and Q20:
Q20   0   1
Q12
0    54   8
1    70  26
3     1   0

Cross-tabulation between Q12 and Q3:
Q3    0   1
Q12
0    28  34
1    20  76
3     0   1

Cross-tabulation between Q12 and Q9:
Q9   High  Low  Moderate
Q12
0      14    6        42
1       7   28        61
3       0    0         1

Cross-tabulation between Q12 and Q10:
Q10   0   1   2   3
Q12
0    11  27  23   1
1     3  22  41  30
3     0   0   1   0

Cross-tabulation between Q12 and Q11:
Q11  0   1   2   3  4  5  6  7  8
Q12
0    4  15  33   6  1  0  1  1  1
1    0  12  73  10  0  1  0  0  0
3    0   0   1   0  0  0  0  0  0

Cross-tabulation between Q20 and Q3:
Q3    0   1
Q20
0    39  86
1     9  25

Cross-tabulation between Q20 and Q9:
Q9   High  Low  Moderate
Q20
0      18   23        84
1       3   11        20

Cross-tabulation between Q20 and Q10:
Q10   0   1   2   3
Q20
0    13  43  47  22
1     1   6  18   9

Cross-tabulation between Q20 and Q11:
Q11  0   1   2   3  4  5  6  7  8
Q20
0    4  17  89  10  1  1  1  1  1
1    0  10  18   6  0  0  0  0  0

Cross-tabulation between Q3 and Q9:
Q9  High  Low  Moderate
Q3
0      8    7        33
1     13   27        71

Cross-tabulation between Q3 and Q10:
Q10  0   1   2   3
Q3
0    9  17  17   5
1    5  32  48  26

Cross-tabulation between Q3 and Q11:
Q11  0   1   2   3  4  5  6  7  8
Q3
0    4   8  29   5  1  0  1  0  0
1    0  19  78  11  0  1  0  1  1

Cross-tabulation between Q9 and Q10:
Q10       0   1   2   3
Q9
High      8   6   7   0
Low       1   4  12  17
Moderate  5  39  46  14

Cross-tabulation between Q9 and Q11:
Q11       0   1   2  3  4  5  6  7  8
Q9
High      1   5  11  3  1  0  0  0  0
Low       0   9  18  6  0  0  0  0  1
Moderate  3  13  78  7  0  1  1  1  0

Cross-tabulation between Q10 and Q11:
Q11  0   1   2  3  4  5  6  7  8
Q10
0    1   5   6  1  1  0  0  0  0
1    2   4  36  6  0  1  0  0  0
2    1  13  43  5  0  0  1  1  1
3    0   5  22  4  0  0  0  0  0

In [11]:
# Select the columns containing the variables
variables = ['Q18', 'Q12', 'Q20', 'Q3', 'Q9', 'Q10', 'Q11']

# Perform cross-tabulation for each pair of variables
for i in range(len(variables)):
    for j in range(i + 1, len(variables)):
        variable1 = variables[i]
        variable2 = variables[j]
        cross_tab = pd.crosstab(data[variable1], data[variable2], normalize='index') * 100
        print(f"Cross-tabulation in % between {variable1} and {variable2}:")
        print(cross_tab)
        print()

Cross-tabulation in % between Q18 and Q12:
Q12          0          1         3
Q18
0    70.370370  27.777778  1.851852
1    22.549020  77.450980  0.000000
3    33.333333  66.666667  0.000000

Cross-tabulation in % between Q18 and Q20:
Q20           0          1
Q18
0     85.185185  14.814815
1     74.509804  25.490196
3    100.000000   0.000000

Cross-tabulation in % between Q18 and Q3:
Q3           0           1
Q18
0    51.851852   48.148148
1    19.607843   80.392157
3     0.000000  100.000000

Cross-tabulation in % between Q18 and Q9:
Q9        High       Low    Moderate
Q18
0    14.814815  20.37037   64.814815
1    12.745098  22.54902   64.705882
3     0.000000   0.00000  100.000000

Cross-tabulation in % between Q18 and Q10:
Q10          0          1          2          3
Q18
0    16.666667  35.185185  37.037037  11.111111
1     4.901961  27.450980  44.117647  23.529412
3     0.000000  66.666667   0.000000  33.333333

Cross-tabulation in % between Q18 and Q11:
Q11         0          1          2          3         4         5         6  \
Q18
0    5.555556  18.518519  62.962963   9.259259  0.000000  0.000000  1.851852
1    0.980392  15.686275  69.607843  10.784314  0.980392  0.980392  0.000000
3    0.000000  33.333333  66.666667   0.000000  0.000000  0.000000  0.000000

Q11         7         8
Q18
0    1.851852  0.000000
1    0.000000  0.980392
3    0.000000  0.000000

Cross-tabulation in % between Q12 and Q20:
Q20           0          1
Q12
0     87.096774  12.903226
1     72.916667  27.083333
3    100.000000   0.000000

Cross-tabulation in % between Q12 and Q3:
Q3           0           1
Q12
0    45.161290   54.838710
1    20.833333   79.166667
3     0.000000  100.000000

Cross-tabulation in % between Q12 and Q9:
Q9        High        Low    Moderate
Q12
0    22.580645   9.677419   67.741935
1     7.291667  29.166667   63.541667
3     0.000000   0.000000  100.000000

Cross-tabulation in % between Q12 and Q10:
Q10          0          1           2          3
Q12
0    17.741935  43.548387   37.096774   1.612903
1     3.125000  22.916667   42.708333  31.250000
3     0.000000   0.000000  100.000000   0.000000

Cross-tabulation in % between Q12 and Q11:
Q11         0          1           2          3         4         5         6  \
Q12
0    6.451613  24.193548   53.225806   9.677419  1.612903  0.000000  1.612903
1    0.000000  12.500000   76.041667  10.416667  0.000000  1.041667  0.000000
3    0.000000   0.000000  100.000000   0.000000  0.000000  0.000000  0.000000

Q11         7         8
Q12
0    1.612903  1.612903
1    0.000000  0.000000
3    0.000000  0.000000

Cross-tabulation in % between Q20 and Q3:
Q3           0          1
Q20
0    31.200000  68.800000
1    26.470588  73.529412

Cross-tabulation in % between Q20 and Q9:
Q9        High        Low   Moderate
Q20
0    14.400000  18.400000  67.200000
1     8.823529  32.352941  58.823529

Cross-tabulation in % between Q20 and Q10:
Q10          0          1          2          3
Q20
0    10.400000  34.400000  37.600000  17.600000
1     2.941176  17.647059  52.941176  26.470588

Cross-tabulation in % between Q20 and Q11:
Q11    0          1          2          3    4    5    6    7    8
Q20
0    3.2  13.600000  71.200000   8.000000  0.8  0.8  0.8  0.8  0.8
1    0.0  29.411765  52.941176  17.647059  0.0  0.0  0.0  0.0  0.0

Cross-tabulation in % between Q3 and Q9:
Q9       High        Low   Moderate
Q3
0   16.666667  14.583333  68.750000
1   11.711712  24.324324  63.963964

Cross-tabulation in % between Q3 and Q10:
Q10          0          1          2          3
Q3
0    18.750000  35.416667  35.416667  10.416667
1     4.504505  28.828829  43.243243  23.423423

Cross-tabulation in % between Q3 and Q11:
Q11         0          1          2          3         4         5         6  \
Q3
0    8.333333  16.666667  60.416667  10.416667  2.083333  0.000000  2.083333
1    0.000000  17.117117  70.270270   9.909910  0.000000  0.900901  0.000000

Q11         7         8
Q3
0    0.000000  0.000000
1    0.900901  0.900901

Cross-tabulation in % between Q9 and Q10:
Q10               0          1          2          3
Q9
High      38.095238  28.571429  33.333333   0.000000
Low        2.941176  11.764706  35.294118  50.000000
Moderate   4.807692  37.500000  44.230769  13.461538

Cross-tabulation in % between Q9 and Q11:
Q11              0          1          2          3         4         5  \
Q9
High      4.761905  23.809524  52.380952  14.285714  4.761905  0.000000
Low       0.000000  26.470588  52.941176  17.647059  0.000000  0.000000
Moderate  2.884615  12.500000  75.000000   6.730769  0.000000  0.961538

Q11              6         7         8
Q9
High      0.000000  0.000000  0.000000
Low       0.000000  0.000000  2.941176
Moderate  0.961538  0.961538  0.000000

Cross-tabulation in % between Q10 and Q11:
Q11         0          1          2          3         4         5         6  \
Q10
0    7.142857  35.714286  42.857143   7.142857  7.142857  0.000000  0.000000
1    4.081633   8.163265  73.469388  12.244898  0.000000  2.040816  0.000000
2    1.538462  20.000000  66.153846   7.692308  0.000000  0.000000  1.538462
3    0.000000  16.129032  70.967742  12.903226  0.000000  0.000000  0.000000

Q11         7         8
Q10
0    0.000000  0.000000
1    0.000000  0.000000
2    1.538462  1.538462
3    0.000000  0.000000